.recipe-form {
  width: 750px;
  height: 1985px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ecedee;
}

.header {
  background-color: #ecedee;
  color: #3b3b4d;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 70px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.menu{
  background: none;
  border: none;
  display: inline-block;
  padding-left: 43px;
  justify-content: center;
  width: 28px;
}

.icon-bar{
  background-color: #3b3b4d;
  display: block;
  height: 2px;
  margin: 0 auto 7px;
  width: 28px;
}

.header-child {
  padding-left: auto;

}

.title-text {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: 2.9px;
  text-align: center;
  color: #3b3b4d;
  text-transform: uppercase;
}

.sub-text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0;
  text-align: center;
  color: #6c7b8a;
}

.shape {
  width: 35px;
  height: 35px;
  padding-right: 40px;
  padding-top: 25px;
}


.service {
  display: flex;
  justify-content: flex-start;
  margin-top: 74px;
}

.service-child {
  padding-left: 18px;
}

.card-shape {

  margin-left: 72px;
  margin-bottom: 22px
  width: 92px;
  height: 92px;
  border-radius: 14px;
  background-color: #e4e9f2;
}

.service-text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0;
  letter-spacing: normal;
  color: #140f26;
  text-transform: uppercase;
}

.text-child {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  line-height: 0.5;
  color: #140f26;
}

.text {
 padding-left: 72px;
 padding-top: 25px;
 font-family: Montserrat;
 font-size: 40px;
 font-weight: 600;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.25;
 letter-spacing: normal;
 color: #3b3b4d;
 padding-bottom: 0px;
}

.input-field {
  margin-top: 39px;
}

label {
 padding-left: 72px;
 padding-right: :366px;
 font-family: Montserrat;
 font-size: 28px;
 font-weight: 500;
 font-style: normal;
 font-stretch: normal;
 line-height: 0.89;
 letter-spacing: normal;
 color: #140f26;
}

.validate {
  margin-left: 72px;
  width: 606px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #ecedee;
  opacity: 0.7;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: -1px;
  color: #3b3b4d;
  padding-top: 20px;
  padding-bottom: 30px;

}

.btn-continue {
  width: 585px;
  height: 28px;
  border-radius: 100px;
  background-color: rgba(20, 15, 38, 0.65);
  margin-left: auto;
  margin-right: auto;
  margin-top: 123px;
  text-align: center;
  font-size: 27px;
  color: #ffffff;
  letter-spacing: 3px;
  font-family: Montserrat;
  cursor: pointer;
  padding-top: 36.5px;
  padding-bottom: 36.5px;
  text-transform: uppercase;
}

.btn-back {
  width: 585px;
  height: 28px;
  border-radius: 100px;
  background-color: rgba(20, 15, 38, 0.65);
  margin-left: auto;
  margin-right: auto;
  margin-top: 33px;
  text-align: center;
  font-size: 27px;
  color: #ffffff;
  letter-spacing: 3px;
  font-family: Montserrat;
  cursor: pointer;
  padding-top: 36.5px;
  padding-bottom: 36.5px;
  text-transform: uppercase;
}
