.recipe-form {
  width: 750px;
  height: 1668px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ecedee;
}

.header {
  background-color: #ecedee;
  color: #3b3b4d;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 70px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.menu{
  background: none;
  border: none;
  display: inline-block;
  padding-left: 43px;
  justify-content: center;
  width: 28px;
}

.icon-bar{
  background-color: #3b3b4d;
  display: block;
  height: 2px;
  margin: 0 auto 7px;
  width: 28px;
}

.header-child {
  padding-left: auto;
}

.text-group {
  margin-top: 51px;
}

.title-text {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: 2.9px;
  text-align: center;
  color: #3b3b4d;
  text-transform: uppercase;
}

.sub-text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0;
  text-align: center;
  color: #6c7b8a;
}

.shape {
  width: 35px;
  height: 35px;
  padding-right: 40px;
  padding-top: 25px;
}

.text {
  padding-left: 71px;
  padding-right: 69px;
  padding-top: 10px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #3b3b4d;
}

.input-field {
  margin-top: 94px;
}

label {
 padding-left: 72px;
 padding-right: :366px;
 font-family: Montserrat;
 font-size: 28px;
 font-weight: 500;
 font-style: normal;
 font-stretch: normal;
 line-height: 0.89;
 letter-spacing: normal;
 color: #140f26;
}

.validate {
  margin-left: 72px;
  width: 606px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #ecedee;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: -1px;
  color: #3b3b4d;
  padding-top: 20px;
  padding-bottom: 30px;

}

.alert-text {
  margin-left: 71px;
  margin-right: 78px;
  opacity: 0.7;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.05;
  letter-spacing: -1.8px;
  color: #3b3b4d;
}

.btn-addKey {
  width: 585px;
  height: 28px;
  border-radius: 100px;
  background-image: linear-gradient(279deg, #645aff, #a573ff);
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 3px;
  font-family: Montserrat;
  cursor: pointer;
  padding-top: 36.5px;
  padding-bottom: 36.5px;
  text-transform: uppercase;
}

.btn-back {
  width: 585px;
  height: 28px;
  border-radius: 100px;
  background-color: rgba(20, 15, 38, 0.65);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 68px;
  margin-top: 24px;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 3px;
  font-family: Montserrat;
  cursor: pointer;
  padding-top: 36.5px;
  padding-bottom: 36.5px;
  text-transform: uppercase;
}

.keyboard-img {
  width: 749px;
  height: 488px;
  -webkit-backdrop-filter: blur(16.2px);
  backdrop-filter: blur(16.2px);
  background-color: rgba(20, 15, 38, 0.65);
}
