.signin-form {
  width: 750px;
  height: 1624px;
  background-color: #f4f6f9;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #1d1d27;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: Montserrat;
  letter-spacing: 3px;
  line-height: 20px;
  font-size: 27px;
  text-transform: uppercase;
  padding-top: 110px;
  padding-bottom: 50px;
}


.bounds {
  width: 695px;
  height: 120px;
  background-color: #ffffff;
  font-family: Montserrat;
  font-size: 26px;
  text-align: left;
  padding-left: 50px;
}

.btn {
  width: 630px;
  border-radius: 100px;
  background-image: linear-gradient(279deg, #645aff, #a573ff);
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  text-align: center;
  font-size: 27px;
  color: white;
  letter-spacing: 3px;
  font-family: Montserrat;
  cursor: pointer;
  padding-top: 36.5px;
  padding-bottom: 36.5px;
  text-transform: uppercase;
}

.reset-your-password {
  opacity: 0.7;
  font-family: Montserrat;
  font-size: 27px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: -0.3px;
  text-align: center;
  color: #6c7b8a;
  text-decoration: underline;
  font-family: Montserrat;
  cursor: pointer;
  margin-bottom: 310px;
}

.popUp {
  width: 710px;
  background-color: #ff3a79;
  padding-left: 40px;
  vertical-align: middle;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 5px;
  padding-top: 63px;
  padding-bottom: 63px;
}


.keyboard-img {
  width: 750px;
  height: 490px;
  -webkit-backdrop-filter: blur(16.2px);
  backdrop-filter: blur(16.2px);
  background-color: rgba(20, 15, 38, 0.65);
}
